{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <title>Sistema Compras</title>
</head>

<body>

    <section id="sidebar">
        <a href="#" class="brand" id="brand-link">
            <img src="{% static 'img/logo_nextprint.jpeg' %}" alt="Logo NP" class="brand-logo">

            <span class="text">Nextprint</span>
        </a>
        <ul class="side-menu top">
            <li class="active">
                <a href="{% url 'dashboard' %}">
                    <i class='bx bxs-dashboard bx-sm'></i>
                    <span class="text">Inicio</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-shopping-bag-alt bx-sm'></i>
                    <span class="text">Nueva Compra</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-doughnut-chart bx-sm'></i>
                    <span class="text">Ordenes</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-message-dots bx-sm'></i>
                    <span class="text">Historial</span>
                </a>
            </li>
        </ul>
        <ul class="side-menu bottom">
            <li>
                <a href="{% url 'logout' %}" class="logout">
                    <i class='bx bx-power-off bx-sm bx-burst-hover'></i>
                    <span class="text">Salir</span>
                </a>
            </li>
        </ul>
    </section>

    <section id="content">
        <nav>
            <i class='bx bx-menu bx-sm'></i>
            <a href="#" class="nav-link">Categorías</a>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Buscar...">
                    <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" class="checkbox" id="switch-mode" hidden />
            <label class="swith-lm" for="switch-mode">
                <i class="bx bxs-moon"></i>
                <i class="bx bx-sun"></i>
                <div class="ball"></div>
            </label>
        </nav>

        <main>
            {% block content %}
            {% endblock %}
        </main>
    </section>

    <script src="{% static 'js/menu.js' %}"></script>
</body>

</html>